@model IEnumerable<Project_Eticaret.MODEL.Entites.Category>

<ul class="nav">
    @foreach (var item in Model)
    {
<li class="dropdown-submenu">
    <a href="#" class="dropright dropdown-item">
        <span class="nav-label">@item.Name</span><span class="caret"></span>
    </a>
    <ul>
        @foreach (var subitem in item.SubCategories)
        {
<li class="dropdown-item">
    <a href="/Product/List/@subitem.ID" class="dropdown-item"> @subitem.Name</a>
</li>}
    </ul>
</li>}
</ul>

